{%extends 'base_emp.html'%}

{%block body_block%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{request.user.employer.logo.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{request.user.employer.company_name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i>Bio : </i>{{request.user.employer.bio}}</li>
                    <li class="list-group-item"><i>Location : </i>{{request.user.employer.location}}</li>
                    <li class="list-group-item"><i>Services : </i>{{request.user.employer.services}}</li>
                </ul>
                <div class="card-body">
<!--                    <a href="#" class="card-link btn btn-outline-info">View</a>-->
                    <a href="{%url 'emp-profupdate' request.user.employer.id%}" class="card-link btn btn-outline-info">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!--            <div class="card mb-3" style="max-width: 540px;">-->
            <!--                <div class="row g-0">-->
            <!--                    <div class="col-md-4">-->
            <!--                        <img src="{{request.user.employer.logo.url}}" class="img-fluid rounded-start" alt="...">-->
            <!--                    </div>-->
            <!--                    <div class="col-md-8">-->
            <!--                        <div class="card-body">-->
            <!--                            <h5 class="card-title">{{request.user.employer.company_name}}</h5>-->
            <!--                            <p class="card-text">{{request.user.employer.bio}}</p>-->
            <!--                            <p class="card-text">{{request.user.employer.location}}</p>-->
            <!--                            <p class="card-text">{{request.user.employer.services}}</p>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</div>

{%endblock%}