{%extends 'base_emp.html'%}

{%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {%for app in vw_app%}
        <div class="card" style="width: 18rem;">
            <!--  <img src="..." class="card-img-top" alt="...">-->
            <!--  <div class="card-body">-->
            <!--    <h5 class="card-title">Card title</h5>-->
            <!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--  </div>-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{app.applicant}}</li>
                <li class="list-group-item">{{app.job}}</li>
                <li class="list-group-item">{{app.date}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link btn btn-info">view Application</a>
<!--                <a href="#" class="card-link">Another link</a>-->
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="col-4"></div>
</div>


{%endblock%}
