{%extends 'base_emp.html'%}

{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item"><i>User : </i>{{request.user}}</li>
                <li class="list-group-item"><i>Job Title : </i>{{job.job_title}}</li>
                <li class="list-group-item"><i>Posted By : </i>{{job.posted_by}}</li>
                <li class="list-group-item"><i>Job description : </i>{{job.job_description}}</li>
                <li class="list-group-item"><i>Salary : </i>{{job.salary}}</li>
            </ul>

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
{%endblock%}