{%extends 'base_emp.html'%}

{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <!--        <div class="col-4">-->
        <!--            {%for job in jobs%}-->
        <!--            <div class="border border-dark mb-2 mt-2">-->
        <!--                job_title:{{job.job_title}}-->
        <!--                experience:{{job.experience}}-->
        <!--                created_date:{{job.created_date}}-->
        <!--                <a href="{%url 'emp-jobdetail' job.id%}">Details</a>-->
        <!--                <a href="">Update</a>-->
        <!--                <a href="">View Application</a>-->
        <!--            </div>-->
        <!--            {%endfor%}-->
        <!--        </div>-->
        <div class="col-10">
            <table class="table table-hover">
                <tr>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Qualification</th>
                    <th>Role</th>
                    <th>Last Date</th>
                    <th>Action</th>
                </tr>
                {%for job in jobs%}
                <tr>
                    <td>{{job.job_title}}</td>
                    <td>{{job.experience}}</td>
                    <td>{{job.qualification}}</td>
                    <td>{{job.role}}</td>
                    <td>{{job.last_date}}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{%url 'emp-jobdetail' job.id%}">Details</a>
                        <a class="btn btn-outline-primary" href="{%url 'emp-jobedit' job.id%}">Update</a>
                        <a class="btn btn-outline-primary" href="{%url 'emp-viewappl' job.id%}">View Application</a>
                        <a class="btn btn-outline-primary" href="#">Short list</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{%endblock%}