{%extends 'base_cand.html'%}

{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i>Job Title : </i>{{job.job_title}}</li>
                    <li class="list-group-item"><i>Salary : </i>{{job.salary}}</li>
                    <li class="list-group-item"><i>Job description : </i>{{job.job_description}}</li>
                </ul>
                <div class="card-body">
                    <a href="{%url 'apply_now' job.id%}" class="card-link btn btn-outline-primary">Apply</a>

                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}