{%extends 'base_cand.html'%}

{%block body_block%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{request.user.candidates.profile_pic.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{request.user}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age : {{request.user.candidates.age}}</li>
                    <li class="list-group-item">Qualification : {{request.user.candidates.qualification}}</li>
                    <li class="list-group-item">Skills : {{request.user.candidates.skills}}</li>
                    <li class="list-group-item">CV : <a href="{{request.user.candidates.cv.url}}">{{request.user.candidates.cv}}</a></li>
                </ul>
                <div class="card-body">
<!--                    <a href="#" class="card-link btn btn-outline-info">View</a>-->
                    <a href="{%url 'cand-profupdate' request.user.candidates.id%}" class="card-link btn btn-info">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}