{%extends 'base_cand.html'%}

{%block body_block%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
<!--                <img src="" class="card-img-top" alt="...">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Card title</h5>-->
<!--                    &lt;!&ndash;    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
<!--                </div>-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i>Job Title : </i>{{job.job_title}}</li>
                    <li class="list-group-item"><i>Job description : </i>{{job.job_description}}</li>
                    <li class="list-group-item"><i>Role : </i>{{job.role}}</li>
                    <li class="list-group-item"><i>Experience : </i>{{job.experience}}</li>
                    <li class="list-group-item"><i>Location : </i>{{job.location}}</li>
                    <li class="list-group-item"><i>Salary : </i>{{job.salary}}</li>
                    <li class="list-group-item"><i>Qualification : </i>{{job.qualification}}</li>
                    <li class="list-group-item"><i>Created Date : </i>{{job.created_date}}</li>
                    <li class="list-group-item"><i>Last Date : </i>{{job.last_date}}</li>
                    <li class="list-group-item"><i>Posted By : </i>{{job.posted_by}}</li>
                </ul>
                <div class="card-body">
                    {%if status%}
                    <a href="#" class="card-link btn btn-warning">Applied</a>
                    {%else%}
                    <a href="{%url 'apply_now' job.id%}" class="card-link btn btn-outline-primary">Apply Now</a>
                    {%endif%}

                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}