{%extends 'base_cand.html'%}

{%block body_block%}
<h1>hellooo</h1>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <form action="" method="get">
<!--            {{filter.form.as_p}}-->
            <div class="row">
                <div class="col-2">posted by : {{filter.form.posted_by}}</div>
                <div class="col-2">job title : {{filter.form.job_title}}</div>
                <div class="col-2">role: {{filter.form.role}}</div>
                <div class="col-2">qualification : {{filter.form.qualification}}</div>
                <div class="col-2">Salary : {{filter.form.salary}}</div>
                <div class="col-2">Loaction : {{filter.form.location}}</div>
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <table class="table table-hover">
                <tr>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Qualification</th>
                    <th>Role</th>
                    <th>Last Date</th>
                    <th>Action</th>
                </tr>
                {%for job in filter.qs%}
                <tr>
                    <td>{{job.job_title}}</td>
                    <td>{{job.experience}}</td>
                    <td>{{job.qualification}}</td>
                    <td>{{job.role}}</td>
                    <td>{{job.last_date}}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{%url 'cand-jobdetail' job.id%}">View</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>cand-home</title>-->
<!--    &lt;!&ndash; CSS only &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--    &lt;!&ndash; JavaScript Bundle with Popper &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"-->
<!--            crossorigin="anonymous"></script>-->

<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-lg bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="#">Candidate</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"-->
<!--                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <div class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--                {%if request.user.candidates%}-->
<!--                <a class="nav-link" href="{%url 'cand-profdetail'%}">view profile</a>-->
<!--                {%else%}-->
<!--                <a class="nav-link" href="{%url 'cand-addprofile'%}">add profile</a>-->
<!--                {%endif%}-->
<!--                <a class="nav-link" href="{%url 'cand-joblist'%}">all Jobs</a>-->
<!--            </div>-->
<!--            <div class="navbar-nav mr-auto mb-2 mb-lg-0">-->
<!--                <a class="btn btn-outline-warning" href="#">logout</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>welcome ..{{request.user}}</h1>-->

<!--{%if request.user.candidates%}-->
<!--    <a href="{%url 'cand-profdetail'%}">View profile</a>-->
<!--{%else%}-->
<!--    <a href="{%url 'cand-addprofile'%}">add profile</a>-->
<!--{%endif%}-->

<!--<a href="">all jobs</a>-->
<!--</body>-->
<!--</html>-->