{%extends 'base_cand.html'%}

{%block body_block%}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table table-hover">
                <tr>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Qualification</th>
                    <th>Role</th>
                    <th>Last Date</th>
                    <th>Action</th>
                </tr>
                {%for job in jobs%}
                <tr>
                    <td>{{job.job_title}}</td>
                    <td>{{job.experience}}</td>
                    <td>{{job.qualification}}</td>
                    <td>{{job.role}}</td>
                    <td>{{job.last_date}}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{%url 'cand-jobdetail' job.id%}">View</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{%endblock%}